# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# Playwright / runtime data
# ======================
storage_state.json
seen_ids.json
new_orders.jsonl

# если появятся дополнительные json-файлы с данными
*.jsonl
*.json

# ======================
# Debug / logs
# ======================
debug/
*.log

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.idea/
.vscode/

# Файлы бота
tg_state.json
.env

# Логгер
logs/
